@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Montserrat';
    display: flex;
    height: 100vh;
}

#lado-esquerdo-login {
    background-color: #2dc91f;
}

#lado-direito-login {
    background-color: #efefef;
}

img.logo-prefeitura {
    width: 300px;
}

